In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\sajin\Desktop\New folder\world_population.csv")

In [3]:
df

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El Aaiún,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

In [5]:
df = pd.read_csv(r"C:\Users\sajin\Desktop\New folder\world_population.csv", index_col = "Country/Territory")

df

,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
Country/Territory,,,,,,,,,,,,,,,,
Afghanistan,36,AFG,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
Albania,138,ALB,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
Algeria,34,DZA,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
American Samoa,213,ASM,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
Andorra,203,AND,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wallis and Futuna,226,WLF,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
Western Sahara,172,ESH,El Aaiún,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
Yemen,46,YEM,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
Zambia,63,ZMB,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
Zimbabwe,74,ZWE,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

In [6]:
df.reset_index(inplace=True)

In [7]:
df

,Country/Territory,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,Afghanistan,36,AFG,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,Albania,138,ALB,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,Algeria,34,DZA,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,American Samoa,213,ASM,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,Andorra,203,AND,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,Wallis and Futuna,226,WLF,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
230,Western Sahara,172,ESH,El Aaiún,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
231,Yemen,46,YEM,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
232,Zambia,63,ZMB,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
233,Zimbabwe,74,ZWE,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

In [13]:
df.reset_index(inplace=True)
df

,level_0,index,Country/Territory,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,0,0,Afghanistan,36,AFG,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,1,1,Albania,138,ALB,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,2,2,Algeria,34,DZA,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,3,3,American Samoa,213,ASM,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,4,4,Andorra,203,AND,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,229,229,Wallis and Futuna,226,WLF,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
230,230,230,Western Sahara,172,ESH,El Aaiún,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
231,231,231,Yemen,46,YEM,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
232,232,232,Zambia,63,ZMB,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
233,233,233,Zimbabwe,74,ZWE,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

In [17]:
df.set_index('Country/Territory', inplace = True)

df

,level_0,index,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
Country/Territory,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,36,AFG,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
Albania,1,1,138,ALB,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
Algeria,2,2,34,DZA,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
American Samoa,3,3,213,ASM,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
Andorra,4,4,203,AND,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wallis and Futuna,229,229,226,WLF,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
Western Sahara,230,230,172,ESH,El Aaiún,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
Yemen,231,231,46,YEM,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
Zambia,232,232,63,ZMB,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
Zimbabwe,233,233,74,ZWE,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

In [18]:
df.loc['United States']

level_0                                     221
index                                       221
Rank                                          3
CCA3                                        USA
Capital                        Washington, D.C.
Continent                         North America
2022 Population                       338289857
2020 Population                       335942003
2015 Population                       324607776
2010 Population                       311182845
2000 Population                       282398554
1990 Population                       248083732
1980 Population                       223140018
1970 Population                       200328340
Area (km²)                              9372610
Density (per km²)                       36.0935
Growth Rate                              1.0038
World Population Percentage                4.24
Name: United States, dtype: object

In [19]:
df.iloc[5]

level_0                               5
index                                 5
Rank                                 42
CCA3                                AGO
Capital                          Luanda
Continent                        Africa
2022 Population                35588987
2020 Population                33428485
2015 Population                28127721
2010 Population                23364185
2000 Population                16394062
1990 Population                11828638
1980 Population                 8330047
1970 Population                 6029700
Area (km²)                      1246700
Density (per km²)               28.5466
Growth Rate                      1.0315
World Population Percentage        0.45
Name: Angola, dtype: object

In [20]:
df.reset_index(inplace = True)

In [24]:
df.set_index(['Continent','Country/Territory'], inplace=True)

In [25]:
df.sort_index()

                                 level_0  index  Rank CCA3      Capital  \
Continent     Country/Territory
Africa        Algeria                  2      2    34  DZA      Algiers
              Angola                   5      5    42  AGO       Luanda
              Benin                   21     21    77  BEN   Porto-Novo
              Botswana                26     26   144  BWA     Gaborone
              Burkina Faso            31     31    58  BFA  Ouagadougou
...                                  ...    ...   ...  ...          ...
South America Paraguay               161    161   109  PRY     Asunción
              Peru                   162    162    44  PER         Lima
              Suriname               199    199   170  SUR   Paramaribo
              Uruguay                223    223   133  URY   Montevideo
              Venezuela              227    227    51  VEN      Caracas

                                 2022 Population  2020 Population  \
Continent     Country/Territory
Africa        Algeria                   44903225         43451666
              Angola                    35588987         33428485
              Benin                     13352864         12643123
              Botswana                   2630296          2546402
              Burkina Faso              22673762         21522626
...                                          ...              ...
South America Paraguay                   6780744          6618695
              Peru                      34049588         33304756
              Suriname                    618040           607065
              Uruguay                    3422794          3429086
              Venezuela                 28301696         28490453

                                 2015 Population  2010 Population  \
Continent     Country/Territory
Africa        Algeria                   39543154         35856344
              Angola                    28127721         23364185
              Benin                     10932783          9445710
              Botswana                   2305171          2091664
              Burkina Faso              18718019         16116845
...                                          ...              ...
South America Paraguay                   6177950          5768613
              Peru                      30711863         29229572
              Suriname                    575475           546080
              Uruguay                    3402818          3352651
              Venezuela                 30529716         28715022

                                 2000 Population  1990 Population  \
Continent     Country/Territory
Africa        Algeria                   30774621         25518074
              Angola                    16394062         11828638
              Benin                      6998023          5133419
              Botswana                   1726985          1341474
              Burkina Faso              11882888          9131361
...                                          ...              ...
South America Paraguay                   5123819          4059195
              Peru                      26654439         22109099
              Suriname                    478998           412756
              Uruguay                    3292224          3117012
              Venezuela                 24427729         19750579

                                 1980 Population  1970 Population  Area (km²)  \
Continent     Country/Territory
Africa        Algeria                   18739378         13795915     2381741
              Angola                     8330047          6029700     1246700
              Benin                      3833939          3023443      112622
              Botswana                    938578           592244      582000
              Burkina Faso               6932967          5611666      272967
...                                          ...              ...         ...
South America Paraguay                   3078912          2408787      406752
              Peru                      17492406         13562371     1285216
              Suriname                    375112           379918      163820
              Uruguay                    2953750          2790265      181034
              Venezuela                 15210443         11355475      916445

                                 Density (per km²)  Growth Rate  \
Continent     Country/Territory
Africa        Algeria                      18.8531       1.0164
              Angola                       28.5466       1.0315
              Benin                       118.5635       1.0274
              Botswana                      4.5194       1.0162
              Burkina Faso                 83.0641       1.0259
...                                            ...          ...
South America Paraguay                     16.6705       1.0115
              Peru                         26.4933       1.0099
              Suriname                      3.7727       1.0082
              Uruguay                      18.9069       0.9990
              Venezuela                    30.8820       1.0036

                                 World Population Percentage
Continent     Country/Territory
Africa        Algeria                                   0.56
              Angola                                    0.45
              Benin                                     0.17
              Botswana                                  0.03
              Burkina Faso                              0.28
...                                                      ...
South America Paraguay                                  0.09
              Peru                                      0.43
              Suriname                                  0.01
              Uruguay                                   0.04
              Venezuela                                 0.35

[234 rows x 17 columns]